.register-page {
  min-height: 100vh;
  background-image: url('C:\Users\ASUS\Downloads\AquariumVinyl_Website_Header_8.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  background-color: rgba(16, 2, 2, 0.525);
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 350px;
  max-width: 90%;
}

.register-container h1 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  color: aliceblue;
  background: linear-gradient(to right, transparent, #1701016e, transparent);
}

.register-container label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 500;
  color: aliceblue;
}

.register-container input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.register-container button {
  width: 100%;
  padding: 0.6rem;
  background-color: #50e819;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-container button:hover {
  background-color: #5eeb2251;
}
